{% extends 'page.html.twig' %}

{% block content %}
	<h1>Hi, {{ campaign.name }}</h1>
	<h2>Create new campaign</h2>
	<form action="/campaign/new" method="post">
		<select name="form">
			{% for form in forms.items %}
				<option value="{{ form.id }}">{{ form.title }}</option>
			{% endfor %}
		</select>
		<textarea name="numbers" rows="5"></textarea>
		<input type="submit" value="Create">
	</form>
	{% for form in forms.items %}

		<a title="{{ form.id }}" href="{{ form.self.href }}">{{ form.title }}</a>
	{% endfor %}
{% endblock %}
